@import '/apps/landings/launchpad/src/utils.scss';

.wrapper {
    background: #1b1b1b;
}

.container {
    box-sizing: border-box;

    @include desktop {
        padding: dpxvw(71) dpxvw(120);
    }

    @include tablet {
        padding: tpxvw(40) tpxvw(12);
    }

    @include mobile {
        padding: mpxvw(25) mpxvw(10);
    }

    & hr {
        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }
    }
}

.content {
    display: flex;
    justify-content: space-between;

    @include desktop {
        align-items: flex-end;
    }

    @include tablet {
        align-items: flex-end;
    }

    @include mobile {
        align-items: flex-end;
    }
}

.footer-protocol {
    display: flex;
    flex-direction: column;
}

.footer-text {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #999999;

    @include desktop {
        font-size: dpxvw(16);
        padding-top: dpxvw(5);
    }

    @include tablet {
        font-size: tpxvw(14);
        padding-top: tpxvw(5);
    }

    @include mobile {
        font-size: mpxvw(12);
        padding-top: mpxvw(4);
    }
}

.social-icons {
    transition: 0.3s ease;
    cursor: pointer;
    @include desktop {
        width: dpxvw(30);
        height: dpxvw(30);
        padding-right: dpxvw(150);
    }

    @include tablet {
        width: tpxvw(25.38);
        height: tpxvw(25.38);
        padding-right: tpxvw(50);
    }

    @include mobile {
        width: mpxvw(20);
        height: mpxvw(20);
        padding-right: mpxvw(0);
    }

    &:hover {
        opacity: 0.5;
    }
}

.disc {
    @include desktop {
        padding-right: dpxvw(5);
    }

    @include tablet {
        padding-right: tpxvw(5);
    }

    @include mobile {
        padding-right: mpxvw(5);
    }
}

.to-top {
    font-family: 'Epilogue', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.01em;
    color: #999999;
    cursor: pointer;

    @include desktop {
        font-size: dpxvw(16);
    }

    @include tablet {
        font-size: tpxvw(16);
    }

    @include mobile {
        display: none;
    }
}

.up {
    position: relative;

    @include desktop {
        bottom: dpxvw(-2);
        padding-left: dpxvw(5);
    }

    @include tablet {
        bottom: tpxvw(-2);
        padding-left: tpxvw(5);
    }

    @include mobile {
        display: none;
    }
}
