@import '/apps/launchpad/src/utils.scss';

.btn {
    background: #c0ff59;
    border: 1px solid #c0ff59;
    font-family: 'Anek Tamil', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #000000;
    cursor: pointer;

    @include desktop {
        border-radius: dpxvw(8);
        padding: dpxvw(16) dpxvw(59);
        font-size: dpxvw(18);
    }

    @include tablet {
        border-radius: tpxvw(8);
        padding: tpxvw(16) tpxvw(59);
        font-size: tpxvw(18);
    }

    @include mobile {
        border-radius: mpxvw(8);
        padding: mpxvw(14) mpxvw(48);
        font-size: mpxvw(14);
    }

    &:hover {
        background: #000;
        color: #c0ff59;
        transition: 0.2s ease;
    }
    transition: 0.2s ease;
}
