@import '/apps/launchpad/src/utils.scss';

.slideVisible {
    @include desktop {
        padding-top: dpxvw(56);
    }

    @include tablet {
        padding-top: tpxvw(0);
    }

    @include mobile {
        padding-top: mpxvw(0);
    }
}

.slideContainer {
    width: fit-content;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: ease 1000ms;
}

.slide {
    @include desktop {
        //padding-right: dpxvw(15);
        padding-top: dpxvw(95);
    }

    @include tablet {
        padding-right: tpxvw(10);
        padding-top: tpxvw(95);
    }

    @include mobile {
        padding-right: mpxvw(10);
        padding-top: mpxvw(72);
    }

    &:last-child {
        padding-right: 0;
    }
}
